$bassFontsize: 16px;
$mainColor: #ffffff ;
$pointColor: #38aef0;

* {
  box-sizing: border-box;
}

body{
  height: 100vh;
  width:  100vw;
}

.wrapper{
  height: 100vh;
  width:  100vw;
  margin:     0;
  padding:    0;
}
.side-bar{
width:    300px;
height:    100%;
color: $mainColor;
background-color: #253141;
float:     left;
  
  .side-header{
    height:       100px;
    background-color: #253141;
    align-items: center;
    display:       flex;
    padding:     0 20px;
    &__user {
      width:      100vw;
      font-size: $bassFontsize;
      font-weight: bold;
      justify-content: space-between;
      display:     flex;
      &__menu{
        display:   flex;
        &__new-group{
          margin-left: 5px;
          a {
            color:     $mainColor;
            font-size: $bassFontsize;
          }
        }
        &__edit{
          margin-left: 5px;
          a {
            color:     $mainColor;
            font-size: $bassFontsize;
          }
        }
      }
    }
  }


  .side-group{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding:   20px 20px 0 20px;
    overflow: scroll;
     .group-box{
       width: 100%;
       a{
        text-decoration: none;
       }
       &__title{
         font-size: $bassFontsize - 1px;
         padding-bottom:            5px;
         color: $mainColor;
       }
       &__message{
         font-size: $bassFontsize - 5px;
         padding-bottom:           40px;
         color: $mainColor;
         
       }
     }
  }
}
.chat-main{
width: calc(100vw - 300px);
height: 100%;
background-color:$mainColor;
float:  left;
  
  .group-main{
    height:   100px;
    padding: 0 40px;
    background-color:   $mainColor;
    display:                  flex;
    justify-content: space-between;
    position:             relative;
    .header{
      margin-top: 35px;
      &__title{
        margin-bottom: 15px;
        font-size:     20px;
        color:    #333333;
      }
      &__member{
        font-size:  12px;
        color: #999999;
        display: flex;
      }
    }
    &__edit-btn{
      height:       40px;
      width:        72px;
      line-height:  40px;
      color: $pointColor;
      border: solid 1px $pointColor;
      position: absolute;
      right:        40px;
      margin-top:   28px;
      padding:    0 20px;
      top:             0;
      a{
        color:    $pointColor;
        text-decoration: none;
      }
    }
  }

  .message-list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding:   35px 0 46px 40px;
    overflow: scroll;
    .message-text{
      padding-bottom: 40px;
      &__info{
        display: flex;
        margin-bottom: 12px;
        width:         100%;
        &__name{
          color:    #333333;
          font-size: $bassFontsize;
          font-weight:   bold;
          padding-right: 10px;
        }
        &__time{
          color:   #999999;
          font-size: $bassFontsize - 4px;
          font-weight:  bold;
        }
      }
     }
     .lower-message{
      color:   #434a54;
      font-size: $bassFontsize - 2px;
    }
  }

  .message-form{
    height:       90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    position:    fixed;
    width: calc(100vw - 300px);
    position: absolute;
    bottom: 0;
    .message-input{
      height:  50px;
      display: flex;
      justify-content: space-between;
      &__text{
        background-color: #fafafa;
        width: calc(100% - 190px);
        padding:           0 10px;
        margin-right:        15px;
        color:             gray;
        line-height:         50px;
        position:        relative;
        display:             flex;
        justify-content: space-between;
        font-size:  $bassFontsize;
        position: absolute;
      }
      &__mask{
        position: absolute;
        right: 150px;
        margin: 20px;        
        &__image{
          font-size: 1.3rem;
          cursor:   pointer;
        }
      }
      &__submit{
        position: absolute;
        top:    20px;
        right:  40px;
        bottom: 20px;
        width: 100px;
        height: 50px;
        background-color: $pointColor;
        color:            $mainColor;
        cursor:    pointer;
        line-height:  50px;
        text-align: center;
        font-size:    18px;
      }
    }
  }
}